header{
	text-align: center;
}

html, body{
	font-family: Comic Sans MS, Gadget, sans-serif;
	margin: 0;
}


h1{
	font-size: 70px;
	color: black;
}

header img{
	max-width: 1000px;
}

.content{
	max-width: 900px;
	margin: 0 auto;
}

img.big-image{
	max-width: 100%;
}

p.caption{
	font-size: 16px;
	color: lightgrey;
	font-style: italic;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

footer{
	margin-top: 20px;
	background-color: #ffbf80
}

footer ul{
	text-align: center;
}